<center><h1>Welcome to the Alpha-Blog</h1></center>

<br><br>
<p>This is the first actual rails app I've built so bear with me.</p>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path%>